
/* 结构布局 start */
.pager-wrap {
    overflow: auto;
    background: #fff;
    height: 100%;
}

.recommend-model-wrap {
	width: 300px;
	margin: 50px auto 68px;
	text-align: center;
}
.recommend-model-icon {
	margin: 0 auto 40px;
	width: 110px;
	height: 110px;
	background: url('/casedetection/images/icon.png') no-repeat -20px -276px;
}
.recommend-model-title {
	font-size: 22px;
}
.recommend-model-text {
	color: #a2a2a2;
	padding-top: 15px;
	font-size: 12px;
}


.recommend-model-btns {
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #ededed;
}
.recommend-model-btns .btn {
	background-color: #4c72d5;
    color: #ffffff!important;
    border: 1px solid #4c72d5;
    border-radius: 5px;
    margin: 0 10px;
}




/* 滚动标签 start */
.move-tab-fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, .4);
}
.move-tab-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -204px 0 0 -375px;
    width: 750px;
    height: 405px;
    /*border: 1px solid #ddd;*/
    background-color: #fff;
}
.move-tab-list {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 20px;
    color: #666;
    background-color: #fff;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 1px 6px rgba(100, 200, 240, .25);
    opacity: .4;
}
.matching-tab {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*background-color: rgba(0, 0, 0, .1);*/
}
.matching-tab > span {
	position: relative;
	display: block;
	text-align: center;
	margin-top: 170px;
	font-size: 18px;
	/*color: #4c72d5;*/
	color: #aaa;
	font-weight: lighter;
	z-index: 100;
}
/*.matching-tab > span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	text-align: center;
	font-size: 16px;
	color: #aaa;
	font-weight: lighter;
	z-index: 100;

}*/
/* 滚动标签 end */



/* 球形运动标签 start */
.tagBall{
	width:400px;
	height:400px;
	margin:0 auto;
	position:relative;
}
.tagBall .tag{
	position:absolute;
	left:0px;
	top:0px;
	color:#000;
	text-decoration:none;
	font-size:15px;
	font-family:"微软雅黑";
	font-weight:lighter;

	/*padding: 0 5px;
	border: 1px solid #aaa;
	border-radius: 4px;
	white-space: nowrap;*/

}
/* 球形运动标签 end */
